h1{
    color:rgb(180, 34, 95);
    font-style: italic;
    font-size: 30px;
    text-align: center;

}
h2{
    color: rgb(180, 34, 95);
    font-style: italic;
    font-size: 24px;
    text-align: center;

}
.I{
    border: solid 2px lavenderblush;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
    }
.F{
padding: 10px;
width: 50px;
height: 50px;

}
.L{
    padding: 10px;
    width: 300px;
    height: 300px;
    }
body{
    background-color: lavenderblush;
}
.b1{
    background-image: url('./images/logo.jpeg');
    background-repeat:repeat-x;
    background-size: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
hr{
    height:10px;
   background-color: rgb(184, 112, 142) ;
   border: none;
}
.list li{
    color:rgb(114, 29, 103);
    font-weight: 900;
}
.Mlist {
    color:rgb(114, 29, 103);
    font-weight: 900;
    font-size: 22px;

}